<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    {{ message }}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" required>
        <input type="password" name="motDePasse" required>
        <input type="submit">
    </form>
    <p>Vous n'avez de compte ? Quel dommage ! Inscrivez sur le lien ci-dessous pour profiter de toutes les fonctionnalités</p>
    <p><a href="{% url 'inscription' %}">M'inscrire</a></p>

</body>
</html>
