{% extends 'base.html' %}

{% block content %}
<title>Comptes</title>

<h1>Mise à jour du mot de passe</h1>
<form method = "post">
    {{ message }}
    {% csrf_token %}
    <label>Indiquez votre ancien mot de passe</label><br>
    <input type="password" required name="ancienMDP"><br>
    <label>Indiquez un nouveau mot de passe :</label><br>
    <input type="password" required pattern="{{ regexMDP }}" name="nouveauMDP1"><br>
    <label>Indiquez de nouveau votre mot de passe</label><br>
    <input type="password" required pattern="{{ regexMDP }}" name="nouveauMDP2"><br>
    <input type="submit">
</form>

{% endblock %}
